/* The Modal is used to highlight specific pictures */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 50px 20px 0px 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  box-sizing:       border-box;
}

/* Modal Content (Image) */
.modal .modal-content {
  margin:       auto;
  display:      block;
  width:        1200px;
  max-width:    100%;
  height:       auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modal #modal_caption {
  margin:       0px auto 20px auto;
  display:      block;
  width:        1200px;
  max-width:    100%;
  text-align:   center;
  color:        #CCC;
  padding:      10px 0;
  height:       20px;
  line-height:  20px;
}

/* Add Animation - Zoom in the Modal */
.modal .modal-content,
.modal #modal_caption
{
  animation-name:     zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.modal #modal_close {
  position: absolute;
  top:      5px;
  right:    20px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal #modal_close:hover,
.modal #modal_close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}