/* * * * * * * * * * * * * * * * * * * * * */
/* 				NAVIGATION			*/
/* * * * * * * * * * * * * * * * * * * * * */

body > ul#nav
{
    height:				40px;
    margin:				15px 0px;
}

    body > ul#nav > li
    {
        height:					40px;
    }
    
        body > ul#nav > li > a
        {
            line-height:			18px;
            font-size:				18px;
            margin:					11px 0px;
        }

/* * * * * * * * * * * * * * * * * * * * * */
/* 					HOME					*/
/* * * * * * * * * * * * * * * * * * * * * */

body > div#home_banner
{
    background-size:	180px;
    border-radius:		22px;
    box-shadow:			0 0 10px #BBB;
    font-size:				32px;
    height:					230px;
    margin:					35px auto 0;
    padding:				22px 0px 10px 4%;
}

    body > div#home_banner > h1#whoami
    {
        font-size:		48px;
    }
    
    body > div#home_banner > p#whatami
    {
        font-size:			36px;
    }
    
    body > div#home_banner > p#myquote
    {
        font-size:			32px;
        margin:				68px 190px 0px 0px;
    }

/* * * * * * * * * * * * * * * * * * * * * */
/* 			  WHAT CAN I DO			*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#whatcanido > h1
    {
        font-size:			32px;
        margin-bottom:	12px;
    }
    
    body > div#whatcanido > div.list > h2
    {
        font-size:		26px;
    }
    
    body > div#whatcanido > div.list > ul
    {
        font-size:		18px;
    }

    
/* * * * * * * * * * * * * * * * * * * * * */
/* 			  SOCIAL MEDIA			*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#socmed > h1
    {
        font-size:		32px;
    }
    
    body > div#socmed > a
    {
        font-size:					14px;
        height:						35px;
        line-height:				14px;
        padding:					5px 10px 0px 55px;
        margin:						20px 0px;
    }
    
        body > div#socmed > a:hover
        {
            background-position:		0px -40px;
        }
        
        body > div#socmed > a > span
        {
            font-size:		16px;
        }


    body > div#socmed > a#email
    {
        margin-top:         15px;
        background-image:   url("img/icon_email.jpg");
        background-size:    40px;
    }
    
    body > div#socmed > a#twitter
    {
        margin-top:         15px;
        background-image:   url("img/icon_twitter_40.jpg");
    }
    
    body > div#socmed > a#fb
    {
        background-image:	url("img/icon_fb_40.jpg");
    }
    
    body > div#socmed > a#linkedin
    {
        background-image:	url("img/icon_linkedin_40.jpg");
        line-height:				40px;
        padding-top:				0px;
        height:						40px;
    }

/* * * * * * * * * * * * * * * * * * * * * */
/* 			 		 BLOG					*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#blog_post > h1
    {
        font-size:		32px;
    }
    
    body > div#blog_post > p#summary
    {
        padding:		0px 0px 15px 0px;
        font-size:		16px;
    }
    
    body > div#blog_post > div#content
    {
        font-size:		12px;
        line-height:	24px;
    }
    
    /* RECENT POSTS */
        
    body > div#recent_posts > h1
    {
        font-size:				26px;
    }

    body > div#recent_posts > a.summary
    {
        padding:				12px;
    }
    
    body > div#recent_posts > a.summary:hover
    {
        border-radius:		6px;
    }
    
        body > div#recent_posts > a.summary > h2
        {
            font-size:			18px;
        }
        
        body > div#recent_posts > a.summary > span
        {
            font-size:			12px;
            line-height:		14px;
        }