/* * * * * * * * * * * * * * * * * * * * * */
/* 				NAVIGATION			*/
/* * * * * * * * * * * * * * * * * * * * * */

body > ul#nav
{
    height:				40px;
    margin:				15px 0px;
}

    body > ul#nav > li
    {
        height:					40px;
    }
    
        body > ul#nav > li > a
        {
            line-height:			18px;
            font-size:				18px;
            margin:					11px 0px;
        }

/* * * * * * * * * * * * * * * * * * * * * */
/* 					HOME					*/
/* * * * * * * * * * * * * * * * * * * * * */

body > div#home_banner
{
    background-size:	140px;
    border-radius:		12px;
    box-shadow:			0 0 5px #BBB;
    font-size:				28px;
    height:					160px;
    margin:					18px auto 0;
    padding:				22px 0px 10px 4%;
}

    body > div#home_banner > h1#whoami
    {
        font-size:		28px;
    }
    
    body > div#home_banner > p#whatami
    {
        font-size:			22px;
    }
    
    body > div#home_banner > p#myquote
    {
        font-size:			20px;
        margin:				60px 145px 0px 0px;
    }

/* * * * * * * * * * * * * * * * * * * * * */
/* 			  WHAT CAN I DO			*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#whatcanido > h1
    {
        font-size:			20px;
        margin-bottom:	8px;
    }

    body > div#whatcanido > div.list > h2
    {
        font-size:		18px;
    }
    
    body > div#whatcanido > div.list > ul
    {
        font-size:		12px;
    }

    
/* * * * * * * * * * * * * * * * * * * * * */
/* 			  SOCIAL MEDIA			*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#socmed > h1
    {
        font-size:		20px;
    }
    
    body > div#socmed > a
    {
        font-size:					12px;
        height:						20px;
        line-height:				12px;
        padding:					0px 10px 0px 30px;
        margin:						18px 0px;
    }
    
        body > div#socmed > a:hover
        {
            background-position:		0px -20px;
        }
    
    body > div#socmed > a > span
    {
        display:		none;
    }

    body > div#socmed > a#email
    {
        margin-top:         15px;
        background-image:   url("img/icon_email.jpg");
        background-size:    20px;
    }

    body > div#socmed > a#twitter
    {
        margin-top:				10px;
        background-image:	url("img/icon_twitter_20.jpg");
    }
    
    body > div#socmed > a#fb
    {
        background-image:	url("img/icon_fb_20.jpg");
    }
    
    body > div#socmed > a#linkedin
    {
        background-image:	url("img/icon_linkedin_20.jpg");
    }
    
    body > div#twitter_feed
    {
        float:				none;
        width:			80%;
        margin:			0px 10%;
        padding:		0px;
        clear:			both;
    }
    
        body > div#twitter_feed > iframe#twitter-widget-0
        {
            width:		100%;
        }

/* * * * * * * * * * * * * * * * * * * * * */
/* 			 		 BLOG					*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#blog_post
    {
        width:				80%;
        float:					none;
        margin-left:		10%;
        margin-right:		10%;
    }
    
    body > div#blog_post > h1
    {
        font-size:		30px;
    }
    
    body > div#blog_post > p#summary
    {
        padding:		0px 0px 15px 0px;
        font-size:		16px;
    }
    
    body > div#blog_post > div#content
    {
        font-size:		12px;
        line-height:	22px;
    }
    
    /* RECENT POSTS */
    
    body > div#recent_posts
    {
        float:					left;
        width:				45%;
        margin:				0px 10% 20px 10%;
    }
    
    body > div#recent_posts > h1
    {
        font-size:				21px;
        margin:					20px 0px 10px 0px;
    }

    body > div#recent_posts > a.summary
    {
        /*height:			75px;*/
        padding:		2%;
        width:			96%;
        
    }
    
    body > div#recent_posts > a.summary:hover
    {
        border-radius:		4px;
    }
    
        body > div#recent_posts > a.summary > h2
        {
            font-size:			16px;
        }
        
        body > div#recent_posts > a.summary > span
        {
            font-size:			12px;
            line-height:		14px;
        }
        
        body > div#browse_archive
        {
            margin-top:		20px;
        }
        
        body > div#browse_archive > a.summary > span
        {
            float:					left;
            margin-right:		5%;
            margin-top:		20px;
            width:				30%;
        }
        
        body > div#browse_archive > h1
        {
            font-size:				21px;
        }
        
    body > div#blog_comments
    {
        float:			none;
        clear:		both;
        margin:		20px 10% 0px 10%;
        width:		80%;
    }
    
        body > div#blog_comments > form > div#loading_comments
        {
            width:		81%;
        }