/* * * * * * * * * * * * * * * * * * * * * */
/* 				NAVIGATION			*/
/* * * * * * * * * * * * * * * * * * * * * */

body > ul#nav
{
    height:				30px;
    margin:				5px 0px 10px 0px;
}

    body > ul#nav > li
    {
        height:					30px;
    }
    
        body > ul#nav > li > a
        {
            line-height:			14px;
            font-size:				14px;
            margin:					8px 0px;
        }

/* * * * * * * * * * * * * * * * * * * * * */
/* 					HOME					*/
/* * * * * * * * * * * * * * * * * * * * * */

body > div#home_banner
{
    background-size:	80px;
    border-radius:		12px;
    box-shadow:			0 0 5px #BBB;
    font-size:				12px;
    height:					90px;
    margin:					12px auto 0;
    padding:				22px 0px 10px 4%;
    width:					90%;		
}

    body > div#home_banner > h1#whoami
    {
        font-size:		19px;
    }
    
    body > div#home_banner > p#whatami
    {
        font-size:			15px;
    }
    
    body > div#home_banner > p#myquote
    {
        font-size:			14px;
        margin:				26px 84px 0px 0px;
    }

/* * * * * * * * * * * * * * * * * * * * * */
/* 			  WHAT CAN I DO			*/
/* * * * * * * * * * * * * * * * * * * * * */
    
    body > div#whatcanido
    {
        margin-left:		5%;
        margin-right:		5%;
        width:				90%;
        float:					none;
        height:				215px;
    }
    body > div#whatcanido > h1
    {
        font-size:			20px;
        margin-bottom:	8px;
    }

    body > div#whatcanido > div.list > h2
    {
        font-size:		16px;
    }
    
    body > div#whatcanido > div.list > ul
    {
        font-size:			12px;
        padding-left:		12px;
    }

    
/* * * * * * * * * * * * * * * * * * * * * */
/* 			  SOCIAL MEDIA			*/
/* * * * * * * * * * * * * * * * * * * * * */
    
    body > div#socmed
    {
        margin-left:		5%;
        margin-right:		5%;
        width:				90%;
        float:					none;
    }
        body > div#socmed > h1
        {
            font-size:		20px;
        }
        
        body > div#socmed > a
        {
            font-size:					12px;
            height:						28px;
            line-height:				12px;
            padding:					2px 10px 0px 35px;
            margin:						20px 0px;
            width:						150px;
        }
        
            body > div#socmed > a:hover
            {
                background-position:		0px -30px;
            }
            
            body > div#socmed > a > span
            {
                font-size:		13px;
            }

        body > div#socmed > a#email
        {
            margin-top:         15px;
            background-image:   url("img/icon_email.jpg");
            background-size:    30px;
        }

        body > div#socmed > a#twitter
        {
            margin-top:				15px;
            background-image:	url("img/icon_twitter_30.jpg");
        }
        
        body > div#socmed > a#fb
        {
            background-image:	url("img/icon_fb_30.jpg");
        }
        
        body > div#socmed > a#linkedin
        {
            background-image:	url("img/icon_linkedin_30.jpg");
            line-height:				30px;
            padding-top:				0px;
            height:						30px;
        }
        
        body > div#twitter_feed
        {
            display:			none;
        }

/* * * * * * * * * * * * * * * * * * * * * */
/* 			 		 BLOG					*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#blog_post
    {
        width:				80%;
        float:					none;
        margin-left:		10%;
        margin-right:		10%;
    }
    
    body > div#blog_post > h1
    {
        font-size:		22px;
    }
    
    body > div#blog_post > p#summary
    {
        padding:		0px 0px 15px 0px;
        font-size:		14px;
    }
    
    body > div#blog_post > div#content
    {
        font-family:	Arial, Sans-serif;
        font-size:		12px;
        line-height:	16px;
    }
    
        body > div#blog_post > div#content img
        {
            max-width:		100%;
            border:				0px solid #FFF !important;
            display:				block;
        }
        
        body > div#blog_post > div#content img.aligncenter
        {
            margin-left:		auto;
            margin-right:		auto;
            max-width:		100%;
            border-radius:	6px;
        }
        
        body > div#blog_post > div#content img.alignleft
        {
            float:					left;
            margin-right:		5px;
            margin-bottom:	-1px;
        }
    
    /* RECENT POSTS */
    
    body > div#recent_posts
    {
        float:				none;
        width:			80%;
        margin-left:	10%;
        margin-right:	10%;
    }
    
    body > div#recent_posts > h1
    {
        font-size:				22px;
        margin:					20px 0px 10px 0px;
    }

    body > div#recent_posts > a.summary
    {
        padding:		10px;
    }
    
    body > div#recent_posts > a.summary:hover
    {
        border-radius:		4px;
    }
    
        body > div#recent_posts > a.summary > h2
        {
            font-size:				16px;
        }
        
        body > div#recent_posts > a.summary > span
        {
            font-size:			12px;
            line-height:		12px;
        }
        
    body > div#browse_archive
    {
        margin:				20px 10%;
        float:					none;
        width:				80%;
    }
        
        body > div#browse_archive > a.summary > span
        {
            float:					left;
            margin-right:		5%;
            margin-top:		20px;
            width:				30%;
        }
        
    body > div#blog_comments
    {
        float:			none;
        clear:		both;
        margin:		20px 10% 0px 10%;
        width:		80%;
    }
    
        body > div#blog_comments > form > div#loading_comments
        {
            width:		81%;
        }