/* * * * * * * * * * * * * * * * * * * * * */
/*                 NAVIGATION            */
/* * * * * * * * * * * * * * * * * * * * * */

body > ul#nav
{
    height:                40px;
    margin:                15px 0px;
}

    body > ul#nav > li
    {
        height:                    40px;
    }
    
        body > ul#nav > li > a
        {
            line-height:            18px;
            font-size:                18px;
            margin:                    11px 0px;
        }

/* * * * * * * * * * * * * * * * * * * * * */
/*                     HOME                    */
/* * * * * * * * * * * * * * * * * * * * * */

body > div#home_banner
{
    border-radius:    30px;
    box-shadow:       0 0 10px #BBB;
    font-size:        32px;
    height:           260px;
    margin:           50px auto 10px;
    padding:          22px 0px 10px 4%;
}

    body > div#home_banner > h1#whoami
    {
        font-size:        54px;
    }
    
    body > div#home_banner > p#whatami
    {
        font-size:            38px;
    }
    
    body > div#home_banner > p#myquote
    {
        font-size:            32px;
        margin:                80px 50px 0px 0px;
    }

/* * * * * * * * * * * * * * * * * * * * * */
/*               WHAT CAN I DO            */
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#whatcanido > h1
    {
        font-size:            32px;
        margin-bottom:    12px;
    }
    
    body > div#whatcanido > div.list > h2
    {
        font-size:        30px;
    }
    
    body > div#whatcanido > div.list > ul
    {
        font-size:        20px;
    }

    
/* * * * * * * * * * * * * * * * * * * * * */
/*               SOCIAL MEDIA            */
/* * * * * * * * * * * * * * * * * * * * * */
    
    body > div#socmed > h1
    {
        font-size:        32px;
    }
    
    body > div#socmed > a
    {
        font-size:                    16px;
        height:                        42px;
        line-height:                16px;
        padding:                    8px 10px 0px 70px;
        margin:                        20px 0px;
        
        /*-webkit-filter:             grayscale(100%);
        filter:                     grayscale(100%);*/
    }
    
        body > div#socmed > a:hover
        {
            background-position:        0px -50px;
            /*-webkit-filter:             grayscale(0%);
            filter:                     grayscale(0%);*/
        }
        
        body > div#socmed > a > span
        {
            font-size:        18px;
        }

    body > div#socmed > a#twitter
    {
        margin-top:                15px;
        background-image:    url("img/icon_twitter_50.jpg");
    }
    
    body > div#socmed > a#email
    {
        margin-top:         15px;
        background-image:   url("img/icon_email.jpg");
    }
    
    body > div#socmed > a#fb
    {
        background-image:    url("img/icon_fb_50.jpg");
    }
    
    body > div#socmed > a#linkedin
    {
        background-image:    url("img/icon_linkedin_50.jpg");
        line-height:                50px;
        padding-top:                0px;
        height:                        50px;
    }

/* * * * * * * * * * * * * * * * * * * * * */
/*                       BLOG                    */
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#blog_post > h1
    {
        font-size:        40px;
    }
    
    body > div#blog_post > p#summary
    {
        padding:            0px;
        font-size:            18px;
    }
    
    body > div#blog_post > div#content
    {
        font-size:        12px;
        line-height:    24px;
    }
    
    /* RECENT POSTS */
        
    body > div#recent_posts > h1
    {
        font-size:                30px;
    }

    body > div#recent_posts > a.summary
    {
        padding:                16px;
    }
    
    body > div#recent_posts > a.summary:hover
    {
        border-radius:        8px;
    }
    
        body > div#recent_posts > a.summary > h2
        {
            font-size:            18px;
        }
        
        body > div#recent_posts > a.summary > span
        {
            font-size:            12px;
            line-height:        15px;
        }