@import url(//fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(//fonts.googleapis.com/css?family=Roboto:900);
@import url(//fonts.googleapis.com/css?family=Cutive);

body
{
    background:     #EEE;
    margin:         0px 0px 2% 0px;
    padding:        0px;
    cursor:         default;
    font-family:    Arial, Sans-serif;
    font-size:      12px;
}

/* * * * * * * * * * * * * * * * * * * * * */
/* 				NAVIGATION			*/
/* * * * * * * * * * * * * * * * * * * * * */

body > ul#nav
{
    background:     #444;
    color:          #FFF;
    width:          80%;
    padding:        0px 10%;
    border-top:     1px solid #AAA;
    border-bottom:  1px solid #AAA;
    margin:         0px 10%;
    box-shadow:     0px 0px 5px #444;
}

    body > ul#nav > li
    {
        list-style-type:    none;
        display:            block;
        float:              left;
    }
    
        body > ul#nav > li > a
        {
            padding:						0px 10px 0px 10px;
            border-right:					1px solid #AAA;
            transition:						color 0.5s;
            -webkit-transition:			color 0.5s; /* Safari and Chrome 25- */
        }
        
        body > ul#nav > li > a:hover
        {
            color:	#C88; /*AC1A2F*/
        }
        
        body > ul#nav > li:first-child > a
        {
            padding-left:		0px;
        }
        
        body > ul#nav > li:last-child > a
        {
            border:			none;
        }
    
        body > ul#nav > li > a
        {
            display:					block;
            color:					#DDD;
            font-family:			Roboto Condensed,Arial,Sans-serif;
            text-decoration:		none;
        }

/* * * * * * * * * * * * * * * * * * * * * */
/* 					HOME					*/
/* * * * * * * * * * * * * * * * * * * * * */

body > div#home_banner
{
    background:		#FFF; /* url("img/robincorba_dec_2012_200.jpg") no-repeat scroll right bottom*/
    font-family:	Roboto Condensed,Arial,Sans-serif;
    width:			76%;
}

    body > div#home_banner > h1#whoami
    {
        color:			#444;
        font-family:	Roboto Condensed,Arial,Sans-serif;
        font-weight:	normal;
        padding:		0px;
        margin:			0px;
    }
    
    body > div#home_banner > p#whatami
    {
        font-family:		Roboto Condensed,Arial,Sans-serif;
        font-size:			22px;
        display:		    block;
        color:				#377BBF;
        margin:				0px;
    }
    
    body > div#home_banner > p#myquote
    {
        font-family:		Roboto Condensed,Arial,Sans-serif;
        font-size:			20px;
        display:				block;
        color:				#AAA;
        margin:				125px 200px 0px 0px;
        float:					right;
    }

/* * * * * * * * * * * * * * * * * * * * * */
/* 			  WHAT CAN I DO			*/
/* * * * * * * * * * * * * * * * * * * * * */

body > div#whatcanido
{
    display:			block;
    float:				left;
    font-family:	Roboto Condensed,Arial,Sans-serif;
    margin-left:	10%;
    padding:		1% 2%;
    width:			53%;
}

    body > div#whatcanido > h1
    {
        color:			#B55;
        margin:			0px;
    }
    
    body > div#whatcanido > div.list
    {
        width:			50%;
        float:				left;
    }
    body > div#whatcanido > div.list > h2
    {
        color:			#59B;
        margin:			0px;
    }

    
/* * * * * * * * * * * * * * * * * * * * * */
/* 			  SOCIAL MEDIA			*/
/* * * * * * * * * * * * * * * * * * * * * */
    
body > div#socmed
{
    float:              right;
    margin-right:       8%;
    padding:            1% 2%;
    width:              21%;
    font-family:        Roboto Condensed,Arial,Sans-serif;
}

    body > div#socmed > h1
    {
        color:      #B55;
        margin:     0px;
    }
    
    body > div#socmed > a
    {
        background-repeat:  no-repeat;
        color:              #888;
        display:            block;
        text-decoration:    none;
    }
    
        body > div#socmed > a:hover
        {
            color:              #377BBF;
            transition:         background 0.5s, filter 0.5s, color 0.5s;
            -webkit-transition: background 0.5s, filter 0.5s, color 0.5s; /* Safari and Chrome 25- */
        }
        
        body > div#socmed > a > span
        {
            color:						#111;
        }
        
    body > div#twitter_feed
    {
        float:				    right;
        margin-right: 			8%;
        padding:			 	0px;
        padding:				1% 2%;
        width:					21%;
        font-family:			Roboto Condensed,Arial,Sans-serif;
    }
    
        body > div#twitter_feed > h1
        {
            color:						#B55;
            margin:						0px 0px 10px 0px;
        }

/* * * * * * * * * * * * * * * * * * * * * */
/* 			 		 BLOG					*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#blog_post
    {
        width:				50%;
        float:              left;
        margin-left:		10%;
        margin-right:		5%;
    }
        
        body > div#blog_post > p#date
        {
            font-family:		Roboto Condensed, Arial, Sans-serif;
            margin:				0px;
            padding:			0px;
            color:				#B55;
            font-size:			16px;
        }
        
        body > div#blog_post > h1
        {
            font-family:		Roboto, Arial, Sans-serif;
            margin:				0px;
            padding:			0px;
            color:				#377BBF;
            font-size:			32px;
            line-height:		40px;
        }
        
        body > div#blog_post > p#summary
        {
            font-family:		Roboto Condensed, Arial, Sans-serif;
            margin:				0px;
        }

        body > div#blog_post > #content > img#post_picture
        {
            width:              50%;
            height:             auto;
            max-width:          400px;
            float:              left;
            margin-right:		15px;
            margin-bottom:		10px;
            margin-top:         7px;
            border:             3px solid #FFF;
            border-radius:      10px;
        }
        
        body > div#blog_post > div#content
        {
            color:			#444;
            font-family:	Cutive,Arial,Sans-serif;
            font-size:		12px;
            line-height:	1.5;
            margin:			20px 0px 0px 0px;
            padding:		0px;
            /*text-align:		justify;*/
        }

            body > div#blog_post > div#content ul, body > div#blog_post > div#content ol
            {
                overflow: hidden;
            }
        
            body > div#blog_post > div#content img
            {
                max-width:		100%;
                border:         0px;
                border-radius:	5px;
                display:        block;
            }
            
            body > div#blog_post > div#content img.aligncenter
            {
                margin-left:		auto;
                margin-right:		auto;
                max-width:		95%;
            }
            
            body > div#blog_post > div#content img.alignleft
            {
                float:					left;
                margin-right:		10px;
                margin-bottom:	-1px;
            }
    
    /* RECENT POSTS */
    
    body > div#recent_posts
    {
        width:				25%;
        float:					right;
        margin-right:		10%;
        margin-top:		30px;
        clear:				right;
    }
        
        body > div#recent_posts > h1
        {
            font-family:			Roboto, Arial, Sans-serif;
            margin:					0px;
            color:					#BB5555;
            margin:					0px;
        }
    
        body > div#recent_posts > a.summary
        {
            display:					block;
            text-decoration:		none;
        }
        
        body > div#recent_posts > a.summary:hover
        {
            background:			#DDD;
        }
        
            body > div#recent_posts > a.summary > h2
            {
                font-family:		Roboto Condensed, Arial, Sans-serif;
                margin:				0px;
                color:				#444;
            }
            
            body > div#recent_posts > a.summary > span
            {
                font-family:		Arial, Sans-serif;
                color:				#888;
                display:				block;
            }
            
    /* BROWSE ARCHIVE */
    
    body > div#browse_archive
    {
        width:				25%;
        float:					right;
        margin-right:		10%;
        margin-top:		30px;
        clear:				right;
    }
        
        body > div#browse_archive > h1
        {
            font-family:			Roboto, Arial, Sans-serif;
            margin:					0px;
            color:					#BB5555;
            margin:					0%;
            font-size:				26px;
        }
            
            body > div#browse_archive > ul
            {
                margin:			0px;
            }
            body > div#browse_archive > ul > li
            {
                list-style-type:		none;
                margin-left:			-25px;
            }
            
                body > div#browse_archive > ul > li > a
                {
                    color:					#444;
                    text-decoration:		none;
                    font-size:				14px;
                    font-family:			Arial, Sans-serif;
                }
                
                body > div#browse_archive > ul > li > a:hover
                {
                    text-decoration:		underline;
                    color:					#B00;
                }
                
    /* * * * * * * * * * * * * * * * * * * * * */
    /* 			  BLOG ARCHIVE			*/
    /* * * * * * * * * * * * * * * * * * * * * */
    
    body > div#blog_archive
    {
        width:				50%;
        float:					left;
        margin-left:		10%;
        margin-right:		5%;
        clear:				right;
    }
    
        body > div#blog_archive > a
        {
            display:					block;
            margin-bottom:		18px;
            text-decoration:		none;
            border-radius:		5px;
            padding:				2%;
        }
        
        body > div#blog_archive > a:hover
        {
            background:			#DDD;
        }
    
        body > div#blog_archive > a > h1
        {
            font-family:		Roboto, Arial, Sans-serif;
            margin:				0px;
            padding:			0px;
            color:				#377BBF;
            font-size:			20px;
            line-height:		20px;
        }
        
        body > div#blog_archive > a > p.date
        {
            font-family:		Arial, Sans-serif;
            margin:				0px;
            font-size:			12px;
            color:				#000;
            font-weight:		bold;
        }
        
        body > div#blog_archive > a > p.desc
        {
            font-family:		Arial, Sans-serif;
            margin:				0px;
            font-size:			12px;
            color:				#444;
        }
    
    /* * * * * * * * * * * * * * * * * * * * * */
    /* 		    BLOG COMMENTS		*/
    /* * * * * * * * * * * * * * * * * * * * * */
    
    body > div#blog_comments
    {
        float:					right;
        margin-right:		10%;
        width:				25%;
        clear:				right;
    }
    
        body > div#blog_comments > em
        {
            display:					block;
            margin-bottom:		10px;
        }
    
        body > div#blog_comments > h1
        {
            font-family:			Roboto, Arial, Sans-serif;
            margin:					0px;
            color:					#BB5555;
            margin:					0%;
            font-size:				26px;
        }
        
        body > div#blog_comments > h2
        {
            color:			#377BBF;
            font-family:	Roboto Condensed,Arial,Sans-serif;
            margin:			0;
        }
        
        body > div#blog_comments > p
        {
            display:				block;
            color:				#444;
            margin:				0px;
            font-weight:		bold;
            text-decoration:	underline;
        }
        
        body > div#blog_comments > span
        {
            display:					block;
            color:					#444;
            margin-bottom:		20px;
        }
        
        body > div#blog_comments > form > input[type="text"]
        {
            border:		1px solid #CCC;
            padding:	4px;
        }
        
        body > div#blog_comments > form > input[type="submit"]
        {
            border:			1px solid #CCC;
            padding:		4px;
            cursor:			pointer;
            float:				right;
            margin-top:	8px;
        }
        
            body > div#blog_comments > form > input[type="submit"]:hover
            {
                border-color:			#377BBF;
                background-color:	#C0D7ED
            }
        
        body > div#blog_comments > form > div#loading_comments
        {
            background:			url('img/loading.gif') no-repeat center center #FFF;
            float:						right;
            height:					192px;
            position:				absolute;
            width:					26%;
            z-index:				1;
            line-height:			124px;
            text-align:				center;
            color:					#377BBF;
            transition:				display 1s;
            -webkit-transition:	display 1s; /* Safari and Chrome 25- */
        }