/* * * * * * * * * * * * * * * * * * * * * */
/* 				NAVIGATION			*/
/* * * * * * * * * * * * * * * * * * * * * */

body > ul#nav
{
    height:				40px;
    margin:				15px 0px;
}

    body > ul#nav > li
    {
        height:					40px;
    }
    
        body > ul#nav > li > a
        {
            line-height:			18px;
            font-size:				18px;
            margin:					11px 0px;
        }

/* * * * * * * * * * * * * * * * * * * * * */
/* 					HOME					*/
/* * * * * * * * * * * * * * * * * * * * * */

body > div#home_banner
{
    background-size:	160px;
    border-radius:		16px;
    box-shadow:			0 0 8px #BBB;
    font-size:				28px;
    height:					200px;
    margin:					25px auto 0;
    padding:				22px 0px 10px 4%;
}

    body > div#home_banner > h1#whoami
    {
        font-size:		36px;
    }
    
    body > div#home_banner > p#whatami
    {
        font-size:			26px;
    }
    
    body > div#home_banner > p#myquote
    {
        font-size:			24px;
        margin:				75px 170px 0px 0px;
    }

/* * * * * * * * * * * * * * * * * * * * * */
/* 			  WHAT CAN I DO			*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#whatcanido > h1
    {
        font-size:			26px;
        margin-bottom:	10px;
    }
    
    body > div#whatcanido > div.list > h2
    {
        font-size:		22px;
    }
    
    body > div#whatcanido > div.list > ul
    {
        font-size:		16px;
    }

    
/* * * * * * * * * * * * * * * * * * * * * */
/* 			  SOCIAL MEDIA			*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#socmed > h1
    {
        font-size:		26px;
    }
    
    body > div#socmed > a
    {
        font-size:					12px;
        height:						28px;
        line-height:				12px;
        padding:					2px 10px 0px 35px;
        margin:						20px 0px;
    }
    
        body > div#socmed > a:hover
        {
            background-position:		0px -30px;
        }
        
        body > div#socmed > a > span
        {
            font-size:		13px;
        }

    body > div#socmed > a#email
    {
        margin-top:         15px;
        background-image:   url("img/icon_email.jpg");
        background-size:    30px;
    }

    body > div#socmed > a#twitter
    {
        margin-top:				15px;
        background-image:	url("img/icon_twitter_30.jpg");
    }
    
    body > div#socmed > a#fb
    {
        background-image:	url("img/icon_fb_30.jpg");
    }
    
    body > div#socmed > a#linkedin
    {
        background-image:	url("img/icon_linkedin_30.jpg");
        line-height:				30px;
        padding-top:				0px;
        height:						30px;
    }
    
    body > div#twitter_feed
    {
        float:				none;
        width:			80%;
        max-width:	640px;
        margin:			0px 10%;
        padding:		0px;
        clear:			both;
    }
    
        body > div#twitter_feed > iframe#twitter-widget-0
        {
            width:		100%;
        }

/* * * * * * * * * * * * * * * * * * * * * */
/* 			 		 BLOG					*/
/* * * * * * * * * * * * * * * * * * * * * */

    body > div#blog_post > h1
    {
        font-size:		26px;
    }
    
    body > div#blog_post > p#summary
    {
        padding:		0px 0px 15px 0px;
        font-size:		14px;
    }
    
    body > div#blog_post > div#content
    {
        font-size:		12px;
        line-height:	22px;
    }
    
    /* RECENT POSTS */
        
    body > div#recent_posts > h1
    {
        font-size:				22px;
    }

    body > div#recent_posts > a.summary
    {
        padding:				10px;
    }
    
    body > div#recent_posts > a.summary:hover
    {
        border-radius:		4px;
    }
    
        body > div#recent_posts > a.summary > h2
        {
            font-size:			16px;
        }
        
        body > div#recent_posts > a.summary > span
        {
            font-size:			12px;
            line-height:		14px;
        }